// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-product{
  width: 80px;
  height: 80px;
  margin: 10px;
}

.img-holder{
  width: 100%;
  padding: 2px;
  background-color: #fafafa;
}

.thumbnail{
  .caption{
    padding: 1px;
  }
}

h3{
  margin-top: 4px;
  margin-bottom: 8px;
}

.col-sm-6:nth-child(7n+1){
    clear: left;
}

.col-md-3:nth-child(4n+1){
  clear:left;
}
