 <div class="container">
  <footer class="bs-docs-footer" role="contentinfo">
      <div class="bs-docs-social">
        <ul class="bs-docs-social-buttons"></ul>
      </div>
      <p>Diseñado y constriudo por <a href="http://twitter.com/jcmunoz" target="_blank">@jcmunoz</a> y el equipo de <a href="http://twitter.com/bitsket" target="_blank">@bitsket</a>.</p>
      <p>Mantenido por <a href="http://twitter.com/jcmunoz" target="_blank">@jcmunoz</a></p>
      <p>Bajo la licencia:<a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
      <ul class="bs-docs-footer-links muted">
        <li>Currently v1.0.0</li>
        <li>·</li>
        <li><a href="../getting-started/#examples">Acerca de</a></li>
        <li>·</li>
        <li><a href="../2.3.2/">Términos y condiciones</a></li>
        <li>·</li>
        <li><a href="../about/">Aviso de privacidad</a></li>
        <li>·</li>
        <li><a href="../about/">Contacto</a></li>
      </ul>
      </footer>
</div>
