 <div class="container">
  <footer class="bs-docs-footer" role="contentinfo">
      <div class="bs-docs-social">
        <ul class="bs-docs-social-buttons"></ul>
      </div>
      <p>Diseñado y constriudo por <a href="http://twitter.com/jcmunoz" target="_blank">@jcmunoz</a> y el equipo de <a href="http://twitter.com/bitsket" target="_blank">@bitsket</a>.</p>
      <p>Mantenido por <a href="http://twitter.com/jcmunoz" target="_blank">@jcmunoz</a></p>
      
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">bitsket</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://bitsket.com.mx" property="cc:attributionName" rel="cc:attributionURL">jose carlos muñoz mendez</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://bitsket.com.mx" rel="dct:source">https://bitsket.com.mx</a>. 
      
      
      <ul class="bs-docs-footer-links muted">
        <li>Currently v1.0.0</li>
        <li>·</li>
        <li><a href="../getting-started/#examples">Acerca de</a></li>
        <li>·</li>
        <li><a href="../2.3.2/">Términos y condiciones</a></li>
        <li>·</li>
        <li><a href="../about/">Aviso de privacidad</a></li>
        <li>·</li>
        <li><a href="../about/">Contacto</a></li>
      </ul>
      </footer>
</div>
