       <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1 class="cabecero"><%= image_tag 'bitsket_45.png' , class: 'icon' %>BITSKET</h1>
          <li><%= link_to "Inicio", paginas_index_path %></li>
        </div> <!-- navbar-header -->
        <!-- <ul class="nav navbar-nav navbar-right">
            <li><button type="button" class="btn btn-default navbar-btn">Regístrate</button></li>
            <li><button type="button" class="btn btn-default navbar-btn">Ingresa</button></li>
          </ul>  /navbar right -->
        </div> <!-- container -->
    </div> <!-- navbar -->



